            <!--메인헤더-->
            <div ng-include="'mainHeader.html'" ng-controller="findCtrl"></div>
            <!--서브헤더-->
            <div ng-include="'subHeader.html'"></div>

            <!--화면 분할 시작-->
            <div class="container-fluid" style="margin-bottom: 50px;">
                <div class="row content">
                    <!--좌측 화면분할-->
                    <div class="col-sm-2 col-md-2 col-lg-2 sidenav hidden-xs" >
                        <div class="container-fluid " >
                            <p></p>
                        </div>
                    </div>

                    <!--가운데 콘텐츠 화면분할-->
                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                        <h1 class="text-center">기본 폴더 숨기기: <input type="checkbox" ng-model="myCheck"></h1>
                        <div class="hidefolder" ng-hide="myCheck">
                            <div class="col-sm-3 col-xs-4">
                                <button ng-click="openFolder('100')"><i class="fa fa-folder-open-o" style="font-size:80px;color:#771107"></i><p>InLine</p></button>
                            </div>
                            <div class="col-sm-3 col-xs-4">
                                <button ng-click="openFolder('200')"><i class="fa fa-folder-open-o" style="font-size:80px;color:#771107"></i><p>Favorite</p></button>
                            </div>
                            <div class="col-sm-3 col-xs-4">
                                <button ng-click="openFolder('300')"><i class="fa fa-folder-open-o" style="font-size:80px;color:#771107"></i><p>Mine</p></button>
                            </div>
                            <div class="col-lg-4 text-center" ng-repeat="x in folders">
                                <div class="thumbnail">
                                    <button ng-click="openFolder(x.folder_id); folders.id=x.folder_id" ng-model="x.folder_id">
                                        <img src="storedimg/{{x.stored_file_name}}" alt="folder" style="width:100%; height:200px;">
                                    </button>

                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center">
                                            <h3 class="example" style="border: none; color :black;font-weight: bolder;font-size:18px;width:60%;left:0; margin-bottom:5px;">{{x.folder_name}}</h3>
                                        </div>
                                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">-->
                                        <!--<p><strong>{{x.tag1}} / {{x.tag2}} / {{x.tag3}}</strong></p>-->
                                        <!--</div>-->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                                            <div class="btn-group-sm">
                                                <button ng-click="deleteFolder(x.folder_id)" class="btn btn-sm btn-danger" style="border-radius: 50%;"><span class="glyphicon glyphicon-remove"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center" >
                                <!--<form ng-submit="addNewFolder()" name="newFolder">-->
                                <form ng-submit="addNewFolder(new_folder_name)">
                                    <div class="form-group">
                                        <button type="submit" style="margin-top:20px"><img src="storedimg/folder_new.png" alt="folder" style="width:100%; height:200px;"></button>
                                        <input type="text" class="form-control" ng-model="new_folder_name"  placeholder="NewFolder" ng-class="{left:'text-left', center:'text-center', right:'text-right' }[class_name]" ng-style="{top: -170}" required>
                                    </div>
                                </form>
                                <!--</form>-->
                            </div>

                        </div>

                        <hr>

                        <div ng-repeat="x in folder_boards | filter : filters">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 text-center">
                                <div class="thumbnail" style="background-color: white;">
                                    <div class="carousel-caption-public_level">
                                        <div ng-switch on="x.public_level">
                                            <div ng-switch-when="1">
                                                <p class="text-center">전체공개</p>
                                            </div>
                                            <div ng-switch-when="2">
                                                <p class="text-center">ToLine</p>
                                            </div>
                                            <div ng-switch-when="3">
                                                <p class="text-center">나만보기</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-caption-favorite" ng-init="favorite=x.favorite" >
                                        <div ng-switch on="favorite">
                                            <div ng-switch-when="0">
                                                <button ng-click="favoriteBoard(x.board_id)" class="btn btn-sm btn-danger-onimage" style="border-radius: 50%;"><span class="glyphicon glyphicon-star-empty"></span></button>
                                            </div>
                                            <div ng-switch-default>
                                                <button ng-click="UnfavoriteBoard(x.board_id)" class="btn btn-sm btn-danger-onimage" style="border-radius: 50%;"><span class="glyphicon glyphicon-star"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="" ng-click="open('lg', x)"><img src="storedimg/{{x.stored_file_name}}" alt="images" style="width:100%;height:300px"></a>
                                    <div class="col-lg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div>
                                            <p>&nbsp   <span class="pull-right">{{x.created | date:'medium'}}</span></p>
                                            <h1 class="example" ng-class="{left:'text-left', center:'text-center', right:'text-right' }[class_name]" ng-style="{bottom: ((x.line1_y) * 11 +4) +'%', left :-{{x.line1.length+4}}+'%'}" xpos="position.divleft1" ypos="position.divtop1" style="background-color : rgba(0,0,0,0);border: none; color :white;font-weight: bolder;font-size:50px;width:100%;z-index: 12;">"</h1>
                                        </div>
                                        <div>
                                            <p class="example" ng-class="{left:'text-left', center:'text-center', right:'text-right' }[class_name]" ng-style="{'bottom' : (x.line1_y) * 11 +'%'}" xpos="position.divleft1" ypos="position.divtop1" style="background-color : rgba(0,0,0,0.4);border: none; color :white;font-weight: bolder;font-size:18px;width:100%;left:0;">{{x.line1}}</p>
                                        </div>
                                        <div>
                                            <p class="example" ng-class="{left2:'text-left', center2:'text-center', right2:'text-right' }[class_name2]" ng-style="{'bottom' : (x.line2_y) * 11 +'%'}" xpos="position.divleft2" ypos="position.divtop2" style="background-color : rgba(0,0,0,0.4);border: none; color :white;font-weight: bolder;font-size:18px;width:100%;left:0;">{{x.line2}}</p>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:10px;">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">
                                            <img src="storedimg/{{x.user_img}}" class="img-circle" alt="user" width=30%; height=30%;>
                                            <p style="display: inline-block">{{x.name}}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                            <p><strong>{{x.tag1}} / {{x.tag2}} / {{x.tag3}}</strong></p>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">
                                            <p>&nbsp</p>
                                        </div>
                                    </div>
                                    <div id='action'>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                                                <span class="glyphicon glyphicon-heart"></span><a onclick=""> 공감하기</a>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                                                <span class="glyphicon glyphicon-comment"></span><a ng-click=> 댓글달기 {{x.cnt}}</a>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                                                <span class="glyphicon glyphicon-bell"></span><a onclick=""> 폴더저장</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div ng-switch on="!!x.replier">
                                        <div ng-switch-when="true"><img src="img/someone.png" class="img-circle" alt="user" width=4%; height=4%;>
                                            <p style="display: inline-block">{{x.replier}} : {{x.reply}} (공감: {{x.likes_num}} )</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="panel panel-default" style="margin-top: 50px; margin-bottom: 200px">
                                        <div class="panel-heading">Radar Chart</div>
                                        <div class="panel-body">
                                            <canvas class="chart chart-radar" chart-data="[x.values]"
                                                    chart-labels="labels" chart-click="onClick"></canvas>
                                        </div>
                                        <p>{{x.values}}</p>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <!--우측 화면 분할-->
                    <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs">
                        <div ng-include="'RightSideBar.html'"></div>
                    </div>
                </div>
            </div>


            <!--푸터-->
            <div ng-include="'mainFooter.html'"></div>