
<!--메인헤더-->
<div ng-include="'mainHeader.html'" ng-controller="findCtrl"></div>
<!--서브헤더-->
<div ng-include="'subHeader.html'"></div>

<!--화면 분할 시작-->
<div class="container-fluid" style="margin-bottom: 50px;">
    <div class="row content">
        <!--좌측 화면분할-->
        <div class="col-sm-2 col-md-2 col-lg-2 sidenav hidden-xs" >
            <div class="container-fluid " >
                <p></p>
            </div>
        </div>

        <!--가운데 콘텐츠 화면분할-->
        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
        <ul class="nav nav-pills" resize style="margin-top:20px">
            <li class="active">
                <a data-toggle="tab" ng-click="view_allCatagory()">
                    <span class="glyphicon glyphicon-th-large"  style="display: block;"  ng-style="{'font-size' : windowWidth/40}"></span>
                    <p>전체보기</p>
                </a>
            </li>
            <li ng-repeat="menu in menuList" >
                <a data-toggle="tab" ng-model="menu.catagory" ng-click="filters_catagory.catagory=menu.catagory">
                    <span class="{{menu.icon1}} {{menu.icon2}}"  style="display: block;"  ng-style="{'font-size' : windowWidth/40}"></span>
                    <p>{{menu.title}}</p>
                </a>
            </li>
        </ul>

        <div class="container-fluid" style="margin-left: -20px;margin-right: -20px;text-align: center">

                <div ng-repeat="x in catagory_boards | filter : filters_catagory" style="display: inline-block;">
                    <a ng-click="toTag(x.tag1)" ><p ng-style="{'font-size': x.hit1*15, 'color': colorCode1}">{{x.tag1}} </p></a>
                    <a ng-click="toTag(x.tag2)" ><p ng-style="{ 'font-size': x.hit2*15, 'color': colorCode2} ">{{x.tag2}} </p></a>
                    <a ng-click="toTag(x.tag3)" ><p ng-style="{ 'font-size': x.hit3*15, 'color': colorCode3} ">{{x.tag3}} </p></a>
                </div>
        </div>

</div>
        <!--우측 화면 분할-->
        <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs">
            <div ng-include="'RightSideBar.html'"></div>
        </div>
    </div>
</div>


<!--푸터-->
<div ng-include="'mainFooter.html'"></div>