<!--카테고리 페이지.-->
<div class="container" style="margin-top :15px;">
    <ul class="nav nav-pills">
        <li class="active">
            <a data-toggle="tab" ng-click="view_allCatagory()">
                <span class="glyphicon glyphicon-th-large"  style="display: block;font-size: 50px;"></span>
                <p>전체보기</p>
            </a>
        </li>
        <li ng-repeat="menu in menuList" >
            <a data-toggle="tab" ng-model="menu.catagory" ng-click="filters_catagory.catagory=menu.catagory">
                <span class="{{menu.icon1}} {{menu.icon2}}"  style="display: block;font-size: 50px;"></span>
                <p>{{menu.title}}</p>
            </a>
        </li>
    </ul>

        <div class="container-fluid" style="margin-left: -20px;margin-right: -20px">
            <div class="row">
                <div class="col-lg-6 text-center" ng-repeat="x in catagory_boards | filter : filters_catagory ">
                    <p>{{x.tag2}}</p>
                    <p>{{x.tag3}}</p>
                </div>
            </div>
        </div>
    <!--</div>-->
<!--</div>-->

</div>