<ul class="nav nav-pills" resize style="margin-top:20px">
    <li class="active">
        <a data-toggle="tab" ng-click="viewAll();">
            <span class="glyphicon glyphicon-th-large" style="display: block;"
                  ng-style="{'font-size' : windowWidth/40}"></span>
            <!--<p>전체보기</p>-->
        </a>
    </li>
    <li ng-repeat="menu in menuList">
        <a data-toggle="tab" ng-model="menu.catagory" ng-click="viewCatagory(menu.catagory);">
            <span class="{{menu.icon1}} {{menu.icon2}}" style="display: block;"
                  ng-style="{'font-size' : windowWidth/40}"></span>
            <!--<p>{{menu.title}}</p>-->
        </a>
    </li>
</ul>


<!--업로드 되는 프레임 구성 화면-->
<div class="container-fluid" style="margin-left: -20px;margin-right: -20px;">
    <div class="row" ng-init="start=0;">
        <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 text-center"
             ng-repeat="x in boards | filter : filters | limitTo : quantity ">
            <div class="thumbnail" style="background-color: white;">
                <div class="carousel-caption-public_level" style="padding-right: 10px">
                    <div ng-switch on="x.public_level">
                        <div ng-switch-when="1">
                            <p class="text-center">전체 <span class="glyphicon glyphicon-globe"></span></p>
                        </div>
                        <div ng-switch-when="2">
                            <p class="text-center">ToLine <span class="glyphicon glyphicon-user"></span></p>
                        </div>
                        <div ng-switch-when="3">
                            <p class="text-center">나만보기 <span class="glyphicon glyphicon-cog"></span></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption-favorite" ng-init="favorite=x.favorite">
                    <div ng-switch on="favorite">
                        <div ng-switch-when="0">
                            <button ng-click="favoriteBoard(x.board_id)" class="btn btn-sm btn-danger-onimage"
                                    style="border-radius: 50%; color: silver;padding-left: 70%"><span
                                    class="glyphicon glyphicon-star-empty"></span></button>
                        </div>
                        <div ng-switch-default>
                            <button ng-click="UnfavoriteBoard(x.board_id)" class="btn btn-sm btn-danger-onimage"
                                    style="border-radius: 50%; color: lightskyblue;padding-left: 70%"><span
                                    class="glyphicon glyphicon-star"></span></button>
                        </div>
                    </div>
                </div>
                <a href="" ng-click="open('lg', x)"><img src="storedimg/{{x.stored_file_name}}" alt="images"
                                                         style="width:100%;height:300px"></a>
                <div class="col-lg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <p>&nbsp <span class="pull-right">{{x.created | date:'medium'}}</span></p>
                        <h1 class="example"
                            ng-class="{left:'text-left', center:'text-center', right:'text-right' }[class_name]"
                            ng-style="{bottom: ((x.line1_y) * 11 +4) +'%', left :-{{x.line1.length+4}}+'%'}"
                            xpos="position.divleft1" ypos="position.divtop1"
                            style="background-color : rgba(0,0,0,0);border: none; color :white;font-weight: bolder;font-size:50px;width:100%;z-index: 12;">
                            "</h1>
                    </div>
                    <div>
                        <p class="example"
                           ng-class="{left:'text-left', center:'text-center', right:'text-right' }[class_name]"
                           ng-style="{'bottom' : (x.line1_y) * 11 +'%'}" xpos="position.divleft1"
                           ypos="position.divtop1"
                           style="background-color : rgba(0,0,0,0.4);border: none; color :white;font-weight: bolder;font-size:18px;width:100%;left:0;">
                            {{x.line1}}</p>
                    </div>
                    <div>
                        <p class="example"
                           ng-class="{left2:'text-left', center2:'text-center', right2:'text-right' }[class_name2]"
                           ng-style="{'bottom' : (x.line2_y) * 11 +'%'}" xpos="position.divleft2"
                           ypos="position.divtop2"
                           style="background-color : rgba(0,0,0,0.4);border: none; color :white;font-weight: bolder;font-size:18px;width:100%;left:0;">
                            {{x.line2}}</p>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px; padding-left: 10px">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">
                        <img src="storedimg/{{x.user_img}}" class="img-circle" alt="user" width=30px;
                             height=30px;>
                        <p style="display: inline-block" ng-click="toOthers(x)">{{x.name}}</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center" style="white-space: nowrap">
                        <p><strong>{{x.tag1}} / {{x.tag2}} / {{x.tag3}}</strong></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">
                        <p>&nbsp</p>
                    </div>
                </div>
                <div id='action'>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            <div ng-init="like=x.likes">
                                <div ng-switch on="like">
                                    <div ng-switch-when="0">
                                        <a ng-click="likeBoard(x.board_id)" style="border-radius: 50%;"><span
                                                class="glyphicon glyphicon-heart-empty"></span>공감 {{x.likes_num}}</a>
                                    </div>
                                    <div ng-switch-default>
                                        <a ng-click="dislikeBoard(x.board_id)" style="border-radius: 50%;"><span
                                                class="glyphicon glyphicon-heart"></span>공감취소 {{x.likes_num}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            <a ng-click="open('lg', x)"><span class="glyphicon glyphicon-comment"></span> 댓글달기 {{x.cnt}}</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            <div class="btn-group" uib-dropdown is-open="status.isopen">
                                <a id="single-button" type="button" class="btn" uib-dropdown-toggle
                                   ng-disabled="disabled">
                                    <span class="glyphicon glyphicon-bell"></span>폴더저장
                                </a>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                    <div ng-repeat="y in folders">
                                        <li role="menuitem"><a style="color: black"
                                                               ng-click="putInFolder(x.board_id,y.folder_id)">{{y.folder_name}}</a>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-switch on="!!x.replier">
                    <div ng-switch-when="true"><img src="img/someone.png" class="img-circle" alt="user" width=30px;
                                                    height=px;>
                        <p style="display: inline-block">{{x.replier}} : {{x.reply}} (공감: {{x.likes_num}} )</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
