
<div class="jumbotron text-center" style="margin-top: 20px">
    <img src="img/someone.png" class="img-circle" alt="user" width="150" height="150">
    <h3>{{name}}</h3>
    <div class="container-fluid">
        <div class="pull-right" style="margin-top: 20px;margin-bottom: -40px;">
            <a href="#" class="btn btn-danger" style="border-radius: 50%;"><span class="glyphicon glyphicon-heart-empty"></span></a>
            <a href="#" class="btn btn-danger" style="border-radius: 50%;"><span class="glyphicon glyphicon-heart-empty"></span></a>
            <a href="#" class="btn btn-danger" style="border-radius: 50%;"><span class="glyphicon glyphicon-heart-empty"></span></a>
        </div>
    </div>

    <!--
     <div class="btn-group btn-group-justified " style="margin-top: 30px">
         <a href="#" class="btn btn-primary">프로필보기</a>
         <a href="#" class="btn btn-primary">친구보기</a>
         <div class="btn-group">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                 더보기 <span class="caret"></span></button>
             <ul class="dropdown-menu" role="menu">
                 <li><a href="#" >회원정보수정</a></li>
                 <li><a href="#" >내 타임라인</a></li>
             </ul>
         </div>
     </div>-->
</div>
<!--업로드 되는 프레임 구성 화면-->
<div class="container-fluid" style="margin-left: -20px;margin-right: -20px">
    <div class="row-img">
        <div class="col-lg-6 text-center" ng-repeat="x in boards">
            <div class="thumbnail">
                <img src="storedimg/{{x.stored_file_name}}" alt="images" style="width:100%; height:300px;">
                <div class="carousel-caption-public_level">
                    <div ng-switch on="x.public_level">
                        <div ng-switch-when="0">
                            <p class="text-center">전체공개</p>
                        </div>
                        <div ng-switch-when="1">
                            <p class="text-center">ToLine</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-caption-favorite">
                    <div ng-switch on="x.public_level">
                        <div ng-switch-when="0">
                            <button ng-click="favoriteBoard(x.board_id)" class="btn btn-sm btn-danger-onimage" style="border-radius: 50%;"><span class="glyphicon glyphicon-star-empty"></span></button>
                        </div>
                        <div ng-switch-when="1">
                            <button ng-click="UnfavoriteBoard(x.board_id)" class="btn btn-sm btn-danger-onimage" style="border-radius: 50%;"><span class="glyphicon glyphicon-star"></span></button>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption-line">
                    <div>
                        <p class="example" ng-class="{left:'text-left', center:'text-center', right:'text-right' }[class_name]" ng-style="{top: x.line1_y}" xpos="position.divleft1" ypos="position.divtop1" style="background-color : rgba(0,0,0,0.55);border: none; color :white;font-weight: bolder;font-size:18px;width:100%;">{{x.line1}}</p>
                    </div>
                    <div>
                        <p class="example" ng-class="{left2:'text-left', center2:'text-center', right2:'text-right' }[class_name2]" ng-style="{top: x.line2_y}" xpos="position.divleft2" ypos="position.divtop2" style="background-color : rgba(0,0,0,0.55);border: none; color :white;font-weight: bolder;font-size:18px;width:100%;">{{x.line2}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-left">
                    <img src="img/someone.png" class="img-circle" alt="user" width=15%; height=15%;>
                    <p style="display: inline-block">{{x.name}}</p>
                      </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                        <p><strong>{{x.tag1}} / {{x.tag2}} / {{x.tag3}}</strong></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
                        <a href="#" class="btn btn-sm btn-danger " style="border-radius: 50%;visibility: hidden;"><span class="glyphicon glyphicon-heart-empty"></span></a>
                        <button onclick="" class="btn btn-sm btn-danger" style="border-radius: 50%;"><span class="glyphicon glyphicon-heart-empty"></span></button>
                        <button onclick="" class="btn btn-sm btn-danger" style="border-radius: 50%;"><span class="glyphicon glyphicon-heart-empty"></span></button>
                        <button onclick="" class="btn btn-sm btn-danger" style="border-radius: 50%;"><span class="glyphicon glyphicon-heart-empty"></span></button>
                    </div>
                    <div class="hidden-lg hidden-md hidden-sm col-xs-4">
                        <a href="#" class="btn btn-xs btn-danger " style="border-radius: 50%;visibility: hidden;"><span class="glyphicon glyphicon-heart-empty"></span></a>
                        <a href="#" class="btn btn-xs btn-danger" style="border-radius: 50%;"><span class="glyphicon glyphicon-heart-empty"></span></a>
                        <a href="#" class="btn btn-xs btn-danger" style="border-radius: 50%;"><span class="glyphicon glyphicon-heart-empty"></span></a>
                        <a href="#" class="btn btn-xs btn-danger" style="border-radius: 50%;"><span class="glyphicon glyphicon-heart-empty"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>