<div class="container-fluid">

    <br/><br/>


    <div>
        <script type="text/ng-template" id="alert.html">
            <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
                <div ng-transclude></div>
            </div>
        </script>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    </div>


    <br/><br/>

    <div class=" list-content">

        <ul class="list-group">
            <form class="navbar-form " role="search" style="text-align: right">
                <div class="input-group">
                    <input type="text" ng-model="finduser" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="reset"><span class="glyphicon glyphicon-refresh"></span></button>
                    </div>
                </div>
            </form>
            <li href="#" class="list-group-item title">
                My Friends
            </li>
            <li ng-click="toOthers(x)" ng-repeat="x in friends | filter : finduser" class="list-group-item text-left">
                <img class="img-thumbnail" src="img/someone.png" style="width: 30px; height: 30px">
                <label class="name">
                    {{x.name}}<br>
                </label>
                <label class="pull-right">
                        <div ng-if="x.updated_time==null">
                            <label style="color: darkred; align: right" >●</label>
                        </div>
                        <div ng-if="x.updated_time!=null && x.status==1">
                            <label style="color: mediumseagreen; align: right" >●</label>
                        </div>
                </label>
                <label class="pull-right">
                    <div ng-if="x.status==2">
                        <label>Me</label>
                    </div>
                </label>
                <div class="break"></div>
            </li>

        </ul>
    </div>

</div>