<div class="container-fluid">
                <div class=" list-content">

                    <ul class="list-group">
                        <form class="navbar-form " role="search" style="text-align: right">
                            <div class="input-group">
                                <input type="text" ng-model="finduser" class="form-control" placeholder="Search" name="q">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="reset"><span class="glyphicon glyphicon-refresh"></span></button>
                                </div>
                            </div>
                        </form>
                        <li href="#" class="list-group-item title">
                            My Friends
                        </li>
                        <li href="#" ng-repeat="x in friends | filter : finduser" class="list-group-item text-left">
                            <img class="img-thumbnail" src="img/someone.png" style="width: 30px; height: 30px">
                            <label class="name">
                                {{x.name}}<br>
                            </label>
                            <label class="pull-right">
                                <div ng-switch on="x.status">
                                    <div ng-switch-when="0">
                                        <label style="color: darkred; align: right" >●</label>
                                    </div>
                                    <div ng-switch-when="1">
                                        <label style="color: mediumseagreen; align: right" >●</label>
                                    </div>
                                    <div ng-switch-when="2">
                                        <p class="text-center">Me</p>
                                    </div>
                                </div>

                            </label>
                            <div class="break"></div>
                        </li>

                        <!--
                        <li href="#" class="list-group-item text-left">
                            <a class="btn btn-block btn-primary">
                                <i class="glyphicon glyphicon-refresh"></i>
                                Load more...
                            </a>
                        </li>
                        -->
                    </ul>
                </div>
</div>