<!--메인헤더-->
<div ng-include="'mainHeader.html'" ng-controller="findCtrl"></div>
<!--서브헤더-->
<div ng-include="'subHeader.html'"></div>

<div class="container-fluid">
<div class="jumbotron text-center" style="margin-top: 20px">
    <h3 style="margin-bottom: 60px;">사진을 선택하시고 두줄 평을 입력하세요 <small>게시물당 사진은 <mark>1장만</mark> 업로드 가능합니다.</small></h3>
    <div class="row" onload="myFunction()">

        <form name="myForm">
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="thumbnail" width="100%">
                        <label class="col-sm-2 control-label" ng-show="!myForm.file.$valid">사진 </label>
                    <div class="col-sm-10" ng-show="!myForm.file.$valid">
                        <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required
                               ngf-model-invalid="errorFile">
                        <i ng-show="myForm.file.$error.required">*required</i><br>
                        <i ng-show="myForm.file.$error.maxSize">File too large
                            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                    </div>
                        <img ng-show="myForm.file.$valid"  ngf-thumbnail="picFile" width="100%"style="height:300px;">

                        <div class="col-lg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <h1 ng-show="myForm.file.$valid" class="example" ng-class="{left:'text-left', center:'text-center', right:'text-right' }[class_name]" ng-style="{bottom: ((positions.divtop1) * 11 +4) +'%', left :-(lines.firstLine.length+8)+'%'}" xpos="position.divleft1" ypos="position.divtop1" style="background-color : rgba(0,0,0,0);border: none; color :white;font-weight: bolder;font-size:50px;width:100%;z-index: 12;">"</h1>
                            </div>
                            <div>
                                <input placeholder="첫번째 줄을 입력하세요!" type="text" ng-keydown="myFunction()" ng-show="myForm.file.$valid" class="example" ng-model="lines.firstLine" ng-style="{'bottom' : (positions.divtop1) * 11 +'%'}" xpos="position.divleft1" ypos="position.divtop1" style="background-color : rgba(0,0,0,0.55);border: none; color :white;font-weight: bolder;font-size:18px;width:100%;left:0;text-align:center;">
                            </div>
                            <div>
                                <input placeholder="자!!이제 두번째 줄 차례" type="text" ng-keydown="myFunction()" ng-show="myForm.file.$valid" class="example" ng-model="lines.secondLine" ng-style="{'bottom' : (positions2.divtop2) * 11+'%'}" xpos="position.divleft2" ypos="position.divtop2" style="background-color : rgba(0,0,0,0.55);border: none; color :white;font-weight: bolder;font-size:18px;width:100%;left:0;text-align:center;">
                            </div>
                            <button class="btn btn-sm btn-warning" ng-click="picFile = null" ng-show="picFile">Remove</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-8">
                <div class="container-fluid" style="margin-top: 3%">
                    <div class="form-inline pull-right">
                        <div class="form-group" >
                            <label><span class="glyphicon glyphicon-globe">공개대상</span></label>
                            <select class="form-control" ng-model="p_level" ng-options="x.title for x in openAccess">
                            </select>
                        </div>
                        <div class="form-group">
                            <label><span class="glyphicon-bookmark">카테고리</span></label>
                        <select class="form-control" ng-model="c_list" ng-options="x.title for x in catagory">
                        </select>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <p style="font-size: large">
                            <span class="glyphicon glyphicon-text-color" aria-hidden="true"></span>
                            단어 테이블
                        </p>
                        <div ng-repeat="x in words" class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <input type="text" style="width:80px; text-align:left" value="{{x}}">
                        </div>
                        <br/>


                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="form-group" style="margin:20px 0">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-left: -5px;margin-right: 5px" >
                                <input type="text" class="form-control" placeholder="첫번째 태그" ng-model="lines.tag1">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-left: -5px;margin-right: 5px">
                                <input type="text" class="form-control" placeholder="두번째 태그" ng-model="lines.tag2">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-left: -5px;margin-right: 5px">
                                <input type="text" class="form-control" placeholder="세번째 태그" ng-model="lines.tag3">
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:20px;">
                        <label><span class="glyphicon glyphicon-console">첫번째 줄 위치</span></label>
                        <input type="number" ng-init="positions.divtop1=20" ng-model="positions.divtop1"/>
                    </div>
                    <div class="form-group">
                        <label><span class="glyphicon glyphicon-console">두번째 줄 위치</span></label>
                        <input type="number" ng-init="positions2.divtop2=10" ng-model="positions2.divtop2"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" ></label>
                    <div class="col-sm-10">
                    <button class="btn btn-success" ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile,p_level,c_list)">Submit</button>
                    <span class="progress" ng-show="picFile.progress >= 0">
                    <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div></span>
                        <span ng-show="picFile.result">Upload Successful</span>
                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>
</div>

<!--푸터-->
<div ng-include="'mainFooter.html'"></div>